/*-----------------ESTILOS GENERALES----------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    margin: 0;
    padding: 0;
    height: 100%;
    
}


a {
    color: $color-3;
    text-decoration: none;    /*quita subrrayado*/
}  
img {
    max-width: 100%;
    height: auto;
}

/* ESTILOS DEL CONTENDOR */
.container-fluid {
    padding: 0;
    flex-grow: 1; /*el contenedor ocupe todo el espacio disponible */   
}

.row {
    flex: 1; // Permite que las filas ocupen el espacio restante 
    margin: 0;
}


