/*--------------ESTILOS SECCION SOMOS---------------*/
.seccion-somos {
    @include tamanio(100%,auto);
    border: 1px black solid; 
    position: relative;
    background-image: url(/assets/elementos-home/Imagen-somos-conductores.png);
    background-size: cover;
    background-position: center;
    /* overflow: hidden; */

    .card-body {
        @include tamanio(100%,70vh);
        display: flex;
        flex-direction: column;
        justify-content: center;  /* Asegura que el contenido se alinee verticalmente */
        text-align: left;
        color: white;
        h2 {
          
        }
        a {
            @include tamanio(20vh,auto);
            text-align: center;
        }
    }

    img {
        @include tamanio(100%,auto);
       
        /* @include tamanio(100%,70vh);
        padding-top: 55vh; */
    }
    
}
/* .seccion-somos::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3vh;
    background: green;
    border-radius: 50% ;
} */

/*--------------ESTILOS SECCION CARDS DE INFORMACION---------------*/
.seccion-cards-info {
    @include tamanio(100%,auto);
    border: 1px black solid; 
    h2 {
        color: black;
        text-align: center;
    }
    .alineado-cards {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;  
        img {
            @include tamanio(auto,13vh);
        }
        h3 {
            color: black;
        }
        p {
            color: black;
        }
    }
}

/*--------------ESTILOS SECCION PRESENCIA/MAPA---------------*/
.seccion-presencia-mapa {
    @include tamanio(100%,auto);
    border: 1px black solid;
    .presencia-global{
        text-align: center;
        h2 {
            color: black;
            text-align: center;
        }
        p {
            color: black;
            
        }
        img {

        }

    }

    .presencia-proyectos{
        .presencia {
            h3 {
                color: black;
            }
            p {
                
            }
        }
        .proyectos {
            h3 {
                color: black;
            }
            p {

            }
            button {

            }
        }
    }
}


/*--------------ESTILOS SECCION SERVICIO/CONOCE---------------*/
.seccion-servicio-conoce {
    @include tamanio(100%,auto);
    border: 1px black solid;
    .estilos-servicio {
        

    }
    
    .estilos-conoce {
    
    }
}
.seccion-tres-torres {

}


/*--------------ESTILOS SECCION PROYECTOS DESTACADOS---------------*/
.seccion-proyectos-destacados {


}

/*--------------ESTILOS SECCION PODEMOS AYUDARTE---------------*/
.seccion-podemos-ayudarte {


}

/*--------------ESTILOS SECCION---------------*/