/*--------------ESTILOS SECCION SOMOS---------------*/
.seccion-somos {
    @include tamanio(100%,auto);
    border: 1px black solid; 
    position: relative;
    background-image: url(/assets/elementos-home/Imagen-somos-conductores.png);
    background-size: cover;
    background-position: center;
    /* overflow: hidden; */

    .card-body {
        @include tamanio(100%,70vh);
        display: flex;
        flex-direction: column;
        justify-content: center;  /* Asegura que el contenido se alinee verticalmente */
             /* Centra el contenido horizontalmente */
        text-align: left;
        color: white;
        padding: 6vh;
        padding-top: 15vh;
        h1 {
           font-size: 38px; 
           font-family: 'New Astro', sans-serif;
        }
        p {
            font-size: 22px;
        }
        a {
            @include tamanio(30vh,auto);
            text-align: center;
            font-size: 22px;
            background-color: #D7BE0F;
        }
    }

    img {
        @include tamanio(100%,auto);
       
        /* @include tamanio(100%,70vh);
        padding-top: 55vh; */
    }
    
}

/*--------------ESTILOS SECCION CARDS DE INFORMACION---------------*/
.seccion-cards-info {
    @include tamanio(100%,auto);
    border: 1px black solid; 
    h2 {
        color: black;
        text-align: center;
        font-size: 38px;
        font-family: 'New Astro', sans-serif;
        padding-left: 20vh;
        padding-right: 20vh;
    }
    .alineado-cards {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;  
        img {
            @include tamanio(auto,13vh);
        }
        h3 {
            color: black;
            font-size: 20px;
            font-family: 'New Astro', sans-serif;
        }
        p {
            color: black;
        }
    }
}

/*--------------ESTILOS SECCION PRESENCIA/MAPA---------------*/
.seccion-presencia-mapa {
    @include tamanio(100%,auto);
    border: 1px black solid;
    .presencia-global{
        text-align: center;
        h2 {
            color: black;
            text-align: center;
            font-size: 44px;
            font-family: 'New Astro', sans-serif;
            padding-top: 10vh;
        }
        p {
            color: black;
            font-size: 22px;
            padding-left: 28%;
            padding-right: 28%;
        }
        
        .imagenes-superpuestas {
            position: relative; /* Esto es importante para que las imágenes se posicionen con respecto a este contenedor */
            display: inline-block;

            img.imagen-base {
                width: 100%; /* Ajusta el tamaño de la primera imagen según lo necesites */
            }

            img.imagen-superpuesta {
                position: absolute;
                top: 0;
                left: 0;
                @include tamanio(40%,auto);
                opacity: 0.8; /* Puedes ajustar la opacidad para ver mejor ambas imágenes */
                
            }
        }
        

    }

    .presencia-proyectos{
        .presencia {
            h3 {
                color: black;
                font-size: 44px;
                font-family: 'New Astro', sans-serif;
            }
            p {
                font-size: 22px;
            }
        }
        .proyectos {
            h3 {
                color: black;
                font-size: 44px;
                font-family: 'New Astro', sans-serif;
            }
            p {
                font-size: 22px;
            }
            button {
                font-size: 22px;
            }
        }
    }
}


/*--------------ESTILOS SECCION SERVICIO/CONOCE---------------*/
.seccion-servicio-conoce {
    @include tamanio(100%,auto);
    border: 1px black solid;
    .estilos-servicio {
       h2 {
        font-size: 44px;
        font-family: 'New Astro', sans-serif;
       }
       p {
        font-size: 22px;    
       }
       button {
        font-size: 22px;
       }
    }
    
    .estilos-conoce {
        h2 {
            font-size: 44px;
            font-family: 'New Astro', sans-serif;
        }
        p {
            font-size: 22px;
        }
        button {
            font-size: 22px;
        }
    }
}
.seccion-tres-torres {

}


/*--------------ESTILOS SECCION PROYECTOS DESTACADOS---------------*/
.seccion-proyectos-destacados {


}

/*--------------ESTILOS SECCION PODEMOS AYUDARTE---------------*/
.seccion-podemos-ayudarte {


}

/*--------------ESTILOS SECCION---------------*/