/*--------------ESTILOS SECCION SOMOS---------------*/

.seccion-somos {
    @include tamanio(100%,auto);
    position: relative;
    background-image: url("/assets/elementos-home/fondo-seccion-somos.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 22vh;
    
    .col-12 {
        width: 100%; /* Asegura que ocupe el 100% del ancho disponible */
        max-width: 100%; /* Evita el desbordamiento */
        box-sizing: border-box; /* Incluye el padding dentro del ancho total */
        
        .card-body {
            @include tamanio(100%,70vh);
            display: flex;
            flex-direction: column;
            justify-content: center;  /* Asegura que el contenido se alinee verticalmente */
            text-align: left;
            color: white;
            padding-top: 15vh;
            padding-left: 3%;
            padding-right: 20%;
            .col-12 {
                h1 {
                    @include tamanio(100%,auto);
                    font-size: 45px; 
                    font-family: 'New Astro', sans-serif;
                }
                p {
                    /* @include tamanio(85vh,auto); */
                    font-size: 22px;
                    font-family: 'NeueHaasDisplay', sans-serif;
                }
                a {
                    @include tamanio(30vh,auto);
                    text-align: center;
                    font-size: 22px;
                    font-family: 'NeueHaasDisplay', sans-serif;
                    background-color: #D7BE0F;
                    border-color: #D7BE0F;
                    
                }
            }
        }
        .card-body .btn {
            transition: background-color 0.3s ease, color 0.3s ease; /* Transición suave para el fondo y el color del texto */
        }
        /* Estilo cuando el cursor pasa sobre el enlace */
        .card-body .btn:hover {
            background-color: gray;
            color: white;
        }
    }  
}

/*--------------ESTILOS SECCION CARDS DE INFORMACION---------------*/
.seccion-cards-info {
    @include tamanio(100%,auto);
    margin-top: 6vh;
    h2 {
        color: black;
        text-align: center;
        font-size: 40px;
        font-family: 'New Astro', sans-serif;
        padding-left: 20vh;
        padding-right: 20vh;
    }
    .alineado-cards {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;  
        img {
            @include tamanio(auto,13vh);
        }
        h3 {
            color: black;
            font-size: 30px;
            font-family: 'New Astro', sans-serif;
        }
        p {
            color: black;
            @include tamanio(80%,auto);
            text-align: center;
            font-family: 'NeueHaasDisplay', sans-serif;
        }
    }
}

/*--------------ESTILOS SECCION PRESENCIA/MAPA---------------*/
.seccion-presencia-mapa {
    @include tamanio(100%, auto);
    padding-bottom: 10vh;
    margin: 0;
    padding: 0;
    margin-top: 10vh;
    position: relative;
    img {
        @include tamanio(100%, auto);
        object-fit: cover;
        position: absolute;
        z-index: 1; /* Asegura que la imagen de fondo quede detrás */
        margin: 0;
        padding: 0;
    }

    .presencia-global {
        @include tamanio(100%, auto);
        text-align: center;
        position: relative;
        z-index: 2; /* Asegura que el contenido de .presencia-global quede por encima de la imagen de fondo */
        padding-top: 5vh;
        h2 {
            color: black;
            text-align: center;
            font-size: 40px;
            font-family: 'New Astro', sans-serif;
        }

        p {
            font-size: 15px;
            font-weight: bold;
            font-family: 'NeueHaasDisplay', sans-serif;
            padding-left: 28%;
            padding-right: 28%;   
        }
    }
    .presencia-proyectos {
        @include tamanio(100%, auto);
        justify-content: space-around;
        padding-top: 80vh;
        padding-bottom: 6vh;
        z-index: 2;
        display: flex;
        flex-direction: row;
        .presencia {
            text-align: center;
            h3 {
                @include tamanio(82%, auto);
                color: #80A426;
                font-size: 38px;
                font-family: 'New Astro', sans-serif;
                text-align: left;
            }
            p {
                @include tamanio(82%, auto); 
                text-align: left;
                font-size: 20px;
                font-family: 'NeueHaasDisplay', sans-serif;
            }
        }

        .proyectos {
            margin-top: 25vh;
            text-align: center;
            h3 {
                @include tamanio(92%, auto);
                color: #80A426;
                font-size: 38px;
                font-family: 'New Astro', sans-serif;
                text-align: right;
            }

            p {
                @include tamanio(90%, auto);
                text-align: right;
                font-size: 20px;
                font-family: 'NeueHaasDisplay', sans-serif;
            }

            button {
                background-color: #2A9A9A;
                border-color: #2A9A9A;
                margin-left: 34vh;
                font-size: 20px;
                font-family: 'NeueHaasDisplay', sans-serif;
            }
        }
        /* Estilo por defecto para el botón */
        .proyectos .btn {
            transition: background-color 0.3s ease, color 0.3s ease; /* Transición suave para el fondo y el color del texto */
        }
        /* Estilo cuando el cursor pasa sobre el botón */
        .proyectos .btn:hover {
            background-color: gray;
            color: white;
        }

    }
}

/*--------------ESTILOS SECCION SERVICIO/CONOCE---------------*/
.seccion-servicio-conoce {
    @include tamanio(100%,auto);
    background-image: url("/assets/elementos-home/FONDO\ RECTANGULAR.png");
    background-size: cover;
    background-position: center;
    background-size: 100% 100%;
    justify-items: center;
    padding-left: 10%;
    padding-right: 10%;

    .estilos-servicio {
        @include tamanio(100%,auto); 

        .card {
            background: transparent; /* Hace el fondo de las tarjetas transparente */
            border: none; /* Elimina cualquier borde sólido de la tarjeta */
            box-shadow: none; /* Elimina las sombras predeterminadas si las hay */
            img {
                @include tamanio(90%,auto);    
                margin: 0;
                padding: 0;
            }
            h2 {
                font-size: 38px;
                font-family: 'New Astro', sans-serif;
            }
            p {
                font-size: 18px;
                font-family: 'NeueHaasDisplay', sans-serif;
            }
            button {
                @include tamanio(30%,auto);
                font-size: 18px;
                font-family: 'NeueHaasDisplay', sans-serif;
                background-color: #D7BE0F;
                border-color: #D7BE0F;
            }
        
        }
        
    }
    
    .estilos-conoce {
        @include tamanio(100%,auto);
        text-align: right;
        .card {
            background: transparent; /* Hace el fondo de las tarjetas transparente */
            border: none; /* Elimina cualquier borde sólido de la tarjeta */
            box-shadow: none; /* Elimina las sombras predeterminadas si las hay */
            h2 {
                font-size: 38px;
                font-family: 'New Astro', sans-serif;
                text-align: right;
            }
            p {
                font-size: 18px; 
                font-family: 'NeueHaasDisplay', sans-serif;
            }
            button {
                @include tamanio(30%,auto); 
                font-size: 18px;
                font-family: 'NeueHaasDisplay', sans-serif;
                background-color: #D7BE0F; 
                border-color: #D7BE0F;
            }
            img {
                @include tamanio(90%,auto); 
            }
        }
    }

    /* Estilo por defecto para los botones dentro de los contenedores */
    .estilos-servicio .btn:hover,
    .estilos-conoce .btn:hover {
        background-color: gray; /* Cambia el fondo a gris */
        color: white; /* Cambia el color del texto a blanco */
    }

    /* Transición suave para los botones */
    .estilos-servicio .btn,
    .estilos-conoce .btn {
        transition: background-color 0.3s ease, color 0.3s ease; /* Transición suave para el fondo y el color del texto */
    }

}

/*--------------ESTILOS SECCION FABRICAS---------------*/
.seccion-fabricas {
    @include tamanio(100%,auto);
    text-align: center;
    margin-top: 4vh;
    .posicion-fabricas {
        padding-top: 15vh;
    }
    .card {
        background: transparent; /* Hace el fondo de las tarjetas transparente */
        border: none; /* Elimina cualquier borde sólido de la tarjeta */
        box-shadow: none; /* Elimina las sombras predeterminadas si las hay */
    }
    h3 {
        font-size: 35px;
        font-family: 'New Astro', sans-serif;
        text-align: center;
    }
    img {
        @include tamanio(70%,auto);
    }
    button {
        @include tamanio(60%,auto); 
        font-size: 20px;
        font-family: 'NeueHaasDisplay', sans-serif;
        background-color: #D7BE0F; 
        border-color: #D7BE0F;
        margin-top: 1vh; 
    }
}
/* Estilo por defecto para los botones dentro de la sección seccion-fabricas */
.seccion-fabricas .btn:hover {
    background-color: gray; /* Cambia el fondo a gris */
    color: white; /* Cambia el color del texto a blanco */
    border-color: #D7BE0F;
}

/* Transición suave para los botones */
.seccion-fabricas .btn {
    transition: background-color 0.3s ease, color 0.3s ease; /* Transición suave para el fondo y el color del texto */
}



/*--------------ESTILOS SECCION PROYECTOS DESTACADOS---------------*/
.seccion-proyectos-destacados {
    @include tamanio(100%,auto);
    background-image: url("/assets/elementos-home/fondo-proyectos-destacados.png");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding-left: 8vh;
    padding-right: 8vh;
    margin-top: 10vh;
    margin-bottom: 10vh;
    padding-bottom: 5vh;
    h2 { 
        font-size: 38px;
        font-family: 'New Astro', sans-serif;
        text-align: center;
        color: black;
        padding-top: 8vh;
    }
    .row {
        display: flex;
        justify-content: center;
        .col-lg-4 {
            margin-bottom: 2vh;
            margin-top: 2vh;  
            img {
                @include tamanio(80%,auto); 
            }
            h3 {
                font-size: 30px;
                font-family: 'New Astro', sans-serif;
                text-align: center; 
                color: black;
                margin-left: 10vh;
                margin-right: 10vh;
            }
            h4 {
                font-size: 20px;
                font-family: 'NeueHaasDisplay', sans-serif;
                text-align: center; 
                color: black;    
            }
            button {
                font-family: 'NeueHaasDisplay', sans-serif;
                background-color: #D7BE0F; 
                border-color: #D7BE0F;
                margin-top: 1vh; 
            }
        }
    }   
}
/* Estilo por defecto para los botones dentro de .seccion-proyectos-destacados */
.seccion-proyectos-destacados .col-lg-4 button:hover {
    background-color: gray; /* Cambia el fondo a gris */
    color: white; /* Cambia el color del texto a blanco */
}

/* Transición suave para los botones */
.seccion-proyectos-destacados .col-lg-4 button {
    transition: background-color 0.3s ease, color 0.3s ease; /* Transición suave para el fondo y el color del texto */
}



/*--------------ESTILOS SECCION CATALOGO---------------*/

.seccion-catalogo {
    @include tamanio(80%,auto);
    background-image: url("/assets/elementos-home/fondo-catalogo-rectangular.png");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding-top: 10vh;
    padding-bottom: 10vh;
    margin-top: 2vh;
    margin-bottom: 10vh;
    border-radius: 20px; /* Ajusta el valor para el radio de la curva */
   
    h3 {
        font-size: 30px;
        font-family: 'New Astro', sans-serif;
        text-align: center; 
        color: black;
        margin-bottom: 4vh;
    }
    button {
        font-family: 'NeueHaasDisplay', sans-serif;
        background-color: #D7BE0F; 
        border-color: #D7BE0F;
        margin-top: 1vh; 
    }
}
/* Estilo por defecto para el botón dentro de .seccion-catalogo */
.seccion-catalogo .btn:hover {
    background-color: gray; /* Cambia el fondo a gris */
    color: white; /* Cambia el color del texto a blanco */
    border-color: #D7BE0F;
}

/* Transición suave para el botón */
.seccion-catalogo .btn {
    transition: background-color 0.3s ease, color 0.3s ease; /* Transición suave para el fondo y el color del texto */
}

