/* Media query para mobile */
@media (max-width: 768px) {
   /*  .container-fluid {
        justify-content: space-between;  
        @include tamanio(50%,auto);
    }
    .seccion-somos, .seccion-cards-info, .seccion-presencia-mapa, .seccion-servicio-conoce, .seccion-fabricas, .seccion-proyectos-destacados, .seccion-catalogo {
        padding: 20px;
        display: flex;
        flex-direction: row;
        
    } */
  
}