@charset "UTF-8";
/*    PALETA DE COLORES VARIBLES    */
/*----------------MIXIN SASS-----------*/
@font-face {
  font-family: "New Astro";
  src: url("/assets/fonts/New Astro Bold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
/* Media query para mobile */
@media (max-width: 768px) {
  .seccion-somos .row .col-6 .card-body h1 {
    font-size: 30px;
  }
  .seccion-somos .row .col-6 .card-body p {
    font-size: 20px;
  }
  .seccion-somos .row .col-6 .card-body a {
    font-size: 20px;
  }
  .seccion-cards-info .row h2 {
    width: 100%;
    height: auto;
    padding: 0;
    font-size: 22px;
    margin-bottom: 8vh;
    padding-left: 10%;
    padding-right: 10%;
  }
  .seccion-cards-info .row .alineado-cards {
    margin-bottom: 6vh;
  }
  .seccion-cards-info .row .alineado-cards img {
    width: auto;
    height: 10vh;
  }
  .seccion-cards-info .row .alineado-cards h3 {
    font-size: 22px;
  }
  .seccion-cards-info .row .alineado-cards p {
    font-size: 15px;
  }
  .seccion-presencia-mapa {
    width: 100%;
    height: auto;
  }
  .seccion-presencia-mapa .row .presencia-global h2 {
    font-size: 26px;
    margin-bottom: 40vh;
  }
  .seccion-presencia-mapa .row .presencia-global p {
    font-size: 15px;
    padding: 0;
    margin: 0;
    padding-left: 12%;
    padding-right: 12%;
  }
  .seccion-presencia-mapa .row .presencia-global .imagenes-superpuestas {
    padding: 0;
    margin: 0;
    display: flex;
  }
  .seccion-presencia-mapa .row .presencia-global .imagenes-superpuestas img.imagen-base {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
  }
  .seccion-presencia-mapa .row .presencia-global .imagenes-superpuestas img.imagen-superpuesta {
    width: 30%;
    height: auto;
    padding: 0;
    margin: 0;
    margin-top: 28vh;
    margin-left: 27vh;
  }
  .seccion-presencia-mapa .row .presencia-proyectos {
    width: 100%;
    height: auto;
    /* justify-content: space-around; */
    padding-top: 10vh;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .seccion-presencia-mapa .row .presencia-proyectos .presencia {
    width: 100%;
    height: auto;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 5vh;
    text-align: center;
    justify-items: center;
  }
  .seccion-presencia-mapa .row .presencia-proyectos .presencia h3 {
    font-size: 30px;
    text-align: center;
  }
  .seccion-presencia-mapa .row .presencia-proyectos .presencia p {
    font-size: 15px;
    text-align: center;
  }
  .seccion-presencia-mapa .row .presencia-proyectos .proyectos {
    width: 100%;
    height: auto;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 0;
    text-align: center;
    justify-items: center;
  }
  .seccion-presencia-mapa .row .presencia-proyectos .proyectos h3 {
    font-size: 30px;
    text-align: center;
  }
  .seccion-presencia-mapa .row .presencia-proyectos .proyectos p {
    font-size: 15px;
    text-align: center;
  }
  .seccion-presencia-mapa .row .presencia-proyectos .proyectos button {
    font-size: 15px;
    margin-left: 0vh;
    margin-right: 0;
  }
  .seccion-servicio-conoce .estilos-servicio .card .col-md-5 img {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    padding-left: 15%;
    padding-right: 15%;
  }
  .seccion-servicio-conoce .estilos-servicio .card .col-md-7 .card-body {
    text-align: center;
  }
  .seccion-servicio-conoce .estilos-servicio .card .col-md-7 .card-body h2 {
    font-size: 30px;
    text-align: center;
  }
  .seccion-servicio-conoce .estilos-servicio .card .col-md-7 .card-body p {
    font-size: 15px;
    text-align: center;
  }
  .seccion-servicio-conoce .estilos-servicio .card .col-md-7 .card-body button {
    font-size: 15px;
    text-align: center;
  }
  .seccion-servicio-conoce .estilos-conoce {
    margin-top: 10vh;
  }
  .seccion-servicio-conoce .estilos-conoce .card .col-md-7 .card-body {
    text-align: center;
  }
  .seccion-servicio-conoce .estilos-conoce .card .col-md-7 .card-body h2 {
    font-size: 30px;
    text-align: center;
  }
  .seccion-servicio-conoce .estilos-conoce .card .col-md-7 .card-body p {
    font-size: 15px;
    text-align: center;
  }
  .seccion-servicio-conoce .estilos-conoce .card .col-md-7 .card-body button {
    font-size: 15px;
    text-align: center;
  }
  .seccion-servicio-conoce .estilos-conoce .card .col-md-5 img {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    padding-left: 15%;
    padding-right: 15%;
  }
  .seccion-fabricas {
    width: 100%;
    height: auto;
  }
  .seccion-fabricas .row .col .card .card-body h3 {
    font-size: 30px;
    text-align: center;
  }
  .seccion-fabricas .row .col .card .card-body img {
    width: 70%;
    height: auto;
  }
  .seccion-fabricas .row .col .card .card-body button {
    font-size: 15px;
    text-align: center;
  }
  .seccion-proyectos-destacados .row .row-12 h2 {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 20vh;
    font-size: 30px;
    text-align: center;
  }
  .seccion-proyectos-destacados .row .col-lg-4 img {
    padding-left: 15%;
    padding-right: 15%;
  }
  .seccion-catalogo .card-body h3 {
    font-size: 30px;
    text-align: center;
  }
  .seccion-catalogo .card-body button {
    font-size: 15px;
  }
}
/*-----------------ESTILOS GENERALES----------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: white;
  min-height: 100vh;
  font-weight: 200;
  font-style: normal;
}

h1 {
  font-size: 1.5em;
}

h2, h3 {
  text-align: left;
  /* background-color: rgb(44, 45, 45); */
  color: rgb(184, 246, 231);
  font-size: 1.2em;
  /* Fonts de los h2*/
  font-weight: 400;
  font-style: normal;
}

button {
  color: rgb(184, 246, 231);
  background-color: rgb(210, 217, 232);
  /* Fonts de los botones*/
  font-family: "New Amsterdam", sans-serif;
  font-weight: 400;
  font-style: normal;
}

a {
  color: rgb(184, 246, 231);
  text-decoration: none; /*quita subrrayado*/
}

img {
  max-width: 100%;
  height: auto;
}

/* ESTILOS DEL CONTENDOR */
.container-fluid {
  padding: 0;
  flex-grow: 1; /*el contenedor ocupe todo el espacio disponible */
}

.row {
  flex: 1;
  margin: 0;
}

/*--------------ESTILOS DEL HEADER---------------*/
.header {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}
.header .navbar-brand {
  font-family: "New Astro", sans-serif;
}
.header nav {
  width: 100%;
  height: auto;
  padding-left: 1em;
  padding-right: 1em;
  background-color: white;
}
.header nav .nav-item .nav-link {
  transition: background-color 0.3s ease, color 0.3s ease; /* Transición suave para el fondo y el color del texto */
  border-radius: 5px;
}
.header nav .nav-item .nav-link:hover {
  background-color: gray;
  border-radius: 5px;
  color: white; /* Cambia el color del texto a blanco */
}
.header nav a {
  /*  padding-right: 5em;  */
  padding-right: 2em;
  padding-left: 3em;
}
.header nav .estilos-menu {
  padding-left: 10em;
}
/*--------------ESTILOS DEL FOOTER---------------*/
footer {
  width: 100%;
  height: auto;
  border: 1px black solid;
  margin: 0;
  padding: 0;
  /*  @include tamanio(100%,8vh);
   display: flex;
   flex-direction: row;
   flex-shrink: 0; 
   background-color: $color-2;
   list-style-type: none;
   padding: 2vh;
   justify-content: space-around;

   font-family: "New Amsterdam", sans-serif;
   font-weight: 400;
   font-style: normal;
   margin: 2px;
   a {
       @include tamanio(100%,4vh);
       text-align: center;

   }
   a:active {
       color: $color-4;
   }
   a:hover{
       border: solid 3px $color-4;

   } */
}

/*--------------ESTILOS SECCION SOMOS---------------*/
.seccion-somos {
  width: 100%;
  height: auto;
  position: relative;
  background-image: url("/assets/elementos-home/fondo-seccion-somos.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 22vh;
}
.seccion-somos .col-6 {
  width: 100%; /* Asegura que ocupe el 100% del ancho disponible */
  max-width: 100%; /* Evita el desbordamiento */
  box-sizing: border-box; /* Incluye el padding dentro del ancho total */
  /* Estilo cuando el cursor pasa sobre el enlace */
}
.seccion-somos .col-6 .card-body {
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Asegura que el contenido se alinee verticalmente */
  text-align: left;
  color: white;
  padding: 6vh;
  padding-top: 15vh;
}
.seccion-somos .col-6 .card-body h1 {
  width: 100%;
  height: auto;
  font-size: 45px;
  font-family: "New Astro", sans-serif;
}
.seccion-somos .col-6 .card-body p {
  width: 100%;
  height: auto;
  font-size: 22px;
}
.seccion-somos .col-6 .card-body a {
  width: 30vh;
  height: auto;
  text-align: center;
  font-size: 22px;
  background-color: #D7BE0F;
  border-color: #D7BE0F;
}
.seccion-somos .col-6 .card-body .btn {
  transition: background-color 0.3s ease, color 0.3s ease; /* Transición suave para el fondo y el color del texto */
}
.seccion-somos .col-6 .card-body .btn:hover {
  background-color: gray;
  color: white;
}

/*--------------ESTILOS SECCION CARDS DE INFORMACION---------------*/
.seccion-cards-info {
  width: 100%;
  height: auto;
  margin-top: 6vh;
}
.seccion-cards-info h2 {
  color: black;
  text-align: center;
  font-size: 28px;
  font-family: "New Astro", sans-serif;
  padding-left: 20vh;
  padding-right: 20vh;
}
.seccion-cards-info .alineado-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.seccion-cards-info .alineado-cards img {
  width: auto;
  height: 13vh;
}
.seccion-cards-info .alineado-cards h3 {
  color: black;
  font-size: 30px;
  font-family: "New Astro", sans-serif;
}
.seccion-cards-info .alineado-cards p {
  color: black;
  width: 80%;
  height: auto;
  text-align: center;
}

/*--------------ESTILOS SECCION PRESENCIA/MAPA---------------*/
.seccion-presencia-mapa {
  width: 100%;
  height: auto;
  padding-bottom: 10vh;
  margin: 0;
  padding: 0;
  margin-top: 10vh;
  position: relative;
}
.seccion-presencia-mapa img {
  width: 100%;
  height: auto;
  object-fit: cover;
  position: absolute;
  z-index: 1; /* Asegura que la imagen de fondo quede detrás */
  margin: 0;
  padding: 0;
}
.seccion-presencia-mapa .presencia-global {
  width: 100%;
  height: auto;
  text-align: center;
  position: relative;
  z-index: 2; /* Asegura que el contenido de .presencia-global quede por encima de la imagen de fondo */
  padding-top: 5vh;
}
.seccion-presencia-mapa .presencia-global h2 {
  color: black;
  text-align: center;
  font-size: 38px;
  font-family: "New Astro", sans-serif;
}
.seccion-presencia-mapa .presencia-global p {
  color: black;
  padding-left: 28%;
  padding-right: 28%;
}
.seccion-presencia-mapa .presencia-global .imagenes-superpuestas {
  position: relative; /* Necesario para que las imágenes absolutas se posicionen dentro de este contenedor */
  display: inline-block;
  z-index: 3; /* Asegura que las imágenes estén encima de la imagen de fondo */
  width: 100%; /* Asegura que el contenedor ocupe el 100% del ancho disponible */
  height: auto; /* Permite que el contenedor ajuste su altura según el contenido */
  padding-right: 140vh;
}
.seccion-presencia-mapa .presencia-global .imagenes-superpuestas img.imagen-base {
  width: 65%;
  height: auto;
  z-index: 1; /* Asegura que la imagen base quede debajo de la superpuesta */
}
.seccion-presencia-mapa .presencia-global .imagenes-superpuestas img.imagen-superpuesta {
  position: absolute;
  top: 0;
  left: 0;
  width: 20%;
  height: auto;
  opacity: 1;
  margin-top: 48vh;
  margin-left: 83vh;
  z-index: 2; /* Asegura que la imagen superpuesta esté encima de la imagen base */
}
.seccion-presencia-mapa .presencia-proyectos {
  width: 100%;
  height: auto;
  justify-content: space-around;
  padding-top: 80vh;
  padding-bottom: 6vh;
  z-index: 2;
  display: flex;
  flex-direction: row;
  /* Estilo por defecto para el botón */
  /* Estilo cuando el cursor pasa sobre el botón */
}
.seccion-presencia-mapa .presencia-proyectos .presencia {
  text-align: center;
}
.seccion-presencia-mapa .presencia-proyectos .presencia h3 {
  width: 82%;
  height: auto;
  color: #80A426;
  font-size: 38px;
  font-family: "New Astro", sans-serif;
  text-align: left;
}
.seccion-presencia-mapa .presencia-proyectos .presencia p {
  width: 82%;
  height: auto;
  text-align: left;
}
.seccion-presencia-mapa .presencia-proyectos .proyectos {
  margin-top: 25vh;
  text-align: center;
}
.seccion-presencia-mapa .presencia-proyectos .proyectos h3 {
  width: 92%;
  height: auto;
  color: #80A426;
  font-size: 38px;
  font-family: "New Astro", sans-serif;
  text-align: right;
}
.seccion-presencia-mapa .presencia-proyectos .proyectos p {
  width: 90%;
  height: auto;
  text-align: right;
}
.seccion-presencia-mapa .presencia-proyectos .proyectos button {
  background-color: #2A9A9A;
  border-color: #2A9A9A;
  margin-left: 38vh;
}
.seccion-presencia-mapa .presencia-proyectos .proyectos .btn {
  transition: background-color 0.3s ease, color 0.3s ease; /* Transición suave para el fondo y el color del texto */
}
.seccion-presencia-mapa .presencia-proyectos .proyectos .btn:hover {
  background-color: gray;
  color: white;
}

/*--------------ESTILOS SECCION SERVICIO/CONOCE---------------*/
.seccion-servicio-conoce {
  width: 100%;
  height: auto;
  background-image: url("/assets/elementos-home/FONDO RECTANGULAR.png");
  background-size: cover;
  background-position: center;
  background-size: 100% 100%;
  justify-items: center;
  padding-left: 10%;
  padding-right: 10%;
  /* Estilo por defecto para los botones dentro de los contenedores */
  /* Transición suave para los botones */
}
.seccion-servicio-conoce .estilos-servicio {
  width: 100%;
  height: auto;
}
.seccion-servicio-conoce .estilos-servicio .card {
  background: transparent; /* Hace el fondo de las tarjetas transparente */
  border: none; /* Elimina cualquier borde sólido de la tarjeta */
  box-shadow: none; /* Elimina las sombras predeterminadas si las hay */
}
.seccion-servicio-conoce .estilos-servicio .card img {
  width: 90%;
  height: auto;
  margin: 0;
  padding: 0;
}
.seccion-servicio-conoce .estilos-servicio .card h2 {
  font-size: 38px;
  font-family: "New Astro", sans-serif;
}
.seccion-servicio-conoce .estilos-servicio .card button {
  width: 30%;
  height: auto;
  background-color: #D7BE0F;
  border-color: #D7BE0F;
}
.seccion-servicio-conoce .estilos-conoce {
  width: 100%;
  height: auto;
  text-align: right;
}
.seccion-servicio-conoce .estilos-conoce .card {
  background: transparent; /* Hace el fondo de las tarjetas transparente */
  border: none; /* Elimina cualquier borde sólido de la tarjeta */
  box-shadow: none; /* Elimina las sombras predeterminadas si las hay */
}
.seccion-servicio-conoce .estilos-conoce .card h2 {
  font-size: 38px;
  font-family: "New Astro", sans-serif;
  text-align: right;
}
.seccion-servicio-conoce .estilos-conoce .card button {
  width: 30%;
  height: auto;
  background-color: #D7BE0F;
  border-color: #D7BE0F;
}
.seccion-servicio-conoce .estilos-conoce .card img {
  width: 90%;
  height: auto;
}
.seccion-servicio-conoce .estilos-servicio .btn:hover,
.seccion-servicio-conoce .estilos-conoce .btn:hover {
  background-color: gray; /* Cambia el fondo a gris */
  color: white; /* Cambia el color del texto a blanco */
}
.seccion-servicio-conoce .estilos-servicio .btn,
.seccion-servicio-conoce .estilos-conoce .btn {
  transition: background-color 0.3s ease, color 0.3s ease; /* Transición suave para el fondo y el color del texto */
}

/*--------------ESTILOS SECCION FABRICAS---------------*/
.seccion-fabricas {
  width: 100%;
  height: auto;
  text-align: center;
  margin-top: 4vh;
}
.seccion-fabricas .posicion-fabricas {
  padding-top: 15vh;
}
.seccion-fabricas .card {
  background: transparent; /* Hace el fondo de las tarjetas transparente */
  border: none; /* Elimina cualquier borde sólido de la tarjeta */
  box-shadow: none; /* Elimina las sombras predeterminadas si las hay */
}
.seccion-fabricas h3 {
  font-size: 38px;
  font-family: "New Astro", sans-serif;
  text-align: center;
}
.seccion-fabricas img {
  width: 70%;
  height: auto;
}
.seccion-fabricas button {
  width: 60%;
  height: auto;
  background-color: #D7BE0F;
  border-color: #D7BE0F;
  margin-top: 1vh;
}

/* Estilo por defecto para los botones dentro de la sección seccion-fabricas */
.seccion-fabricas .btn:hover {
  background-color: gray; /* Cambia el fondo a gris */
  color: white; /* Cambia el color del texto a blanco */
  border-color: #D7BE0F;
}

/* Transición suave para los botones */
.seccion-fabricas .btn {
  transition: background-color 0.3s ease, color 0.3s ease; /* Transición suave para el fondo y el color del texto */
}

/*--------------ESTILOS SECCION PROYECTOS DESTACADOS---------------*/
.seccion-proyectos-destacados {
  width: 100%;
  height: auto;
  background-image: url("/assets/elementos-home/fondo-proyectos-destacados.png");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding-left: 8vh;
  padding-right: 8vh;
  margin-top: 10vh;
  margin-bottom: 10vh;
  padding-bottom: 5vh;
}
.seccion-proyectos-destacados h2 {
  font-size: 38px;
  font-family: "New Astro", sans-serif;
  text-align: center;
  color: black;
  padding-top: 8vh;
}
.seccion-proyectos-destacados .row {
  display: flex;
  justify-content: center;
}
.seccion-proyectos-destacados .row .col-lg-4 {
  margin-bottom: 2vh;
  margin-top: 2vh;
}
.seccion-proyectos-destacados .row .col-lg-4 img {
  width: 80%;
  height: auto;
}
.seccion-proyectos-destacados .row .col-lg-4 h3 {
  font-size: 30px;
  font-family: "New Astro", sans-serif;
  text-align: center;
  color: black;
  margin-left: 10vh;
  margin-right: 10vh;
}
.seccion-proyectos-destacados .row .col-lg-4 h4 {
  font-size: 20px;
  text-align: center;
  color: black;
}
.seccion-proyectos-destacados .row .col-lg-4 button {
  background-color: #D7BE0F;
  border-color: #D7BE0F;
  margin-top: 1vh;
}

/* Estilo por defecto para los botones dentro de .seccion-proyectos-destacados */
.seccion-proyectos-destacados .col-lg-4 button:hover {
  background-color: gray; /* Cambia el fondo a gris */
  color: white; /* Cambia el color del texto a blanco */
}

/* Transición suave para los botones */
.seccion-proyectos-destacados .col-lg-4 button {
  transition: background-color 0.3s ease, color 0.3s ease; /* Transición suave para el fondo y el color del texto */
}

/*--------------ESTILOS SECCION CATALOGO---------------*/
.seccion-catalogo {
  width: 80%;
  height: auto;
  background-image: url("/assets/elementos-home/fondo-catalogo-rectangular.png");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding-top: 10vh;
  padding-bottom: 10vh;
  margin-top: 2vh;
  margin-bottom: 10vh;
  border-radius: 20px; /* Ajusta el valor para el radio de la curva */
}
.seccion-catalogo h3 {
  font-size: 30px;
  font-family: "New Astro", sans-serif;
  text-align: center;
  color: black;
  margin-bottom: 4vh;
}
.seccion-catalogo button {
  background-color: #D7BE0F;
  border-color: #D7BE0F;
  margin-top: 1vh;
}

/* Estilo por defecto para el botón dentro de .seccion-catalogo */
.seccion-catalogo .btn:hover {
  background-color: gray; /* Cambia el fondo a gris */
  color: white; /* Cambia el color del texto a blanco */
  border-color: #D7BE0F;
}

/* Transición suave para el botón */
.seccion-catalogo .btn {
  transition: background-color 0.3s ease, color 0.3s ease; /* Transición suave para el fondo y el color del texto */
}

/*# sourceMappingURL=styles.css.map */
