/*    PALETA DE COLORES VARIBLES    */
/*----------------MIXIN SASS-----------*/
/*-----------------ESTILOS GENERALES----------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: white;
  min-height: 100vh;
  /* Fonts del body */
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

h1 {
  font-size: 1.5em;
}

h2, h3 {
  text-align: left;
  /* background-color: rgb(44, 45, 45); */
  color: rgb(184, 246, 231);
  font-size: 1.2em;
  /* Fonts de los h2*/
  font-family: "New Amsterdam", sans-serif;
  font-weight: 400;
  font-style: normal;
}

p {
  font-size: 1em;
}

button {
  color: rgb(184, 246, 231);
  background-color: rgb(210, 217, 232);
  /* Fonts de los botones*/
  font-family: "New Amsterdam", sans-serif;
  font-weight: 400;
  font-style: normal;
}

a {
  color: rgb(184, 246, 231);
  text-decoration: none; /*quita subrrayado*/
}

img {
  max-width: 100%;
  height: auto;
}

/* ESTILOS DEL CONTENDOR */
.container-fluid {
  padding: 1vh;
  flex-grow: 1; /*el contenedor ocupe todo el espacio disponible */
}

.row {
  flex: 1;
  margin: 0;
}

.margin-contenido {
  margin-top: 22vh;
}

/*--------------ESTILOS DEL HEADER---------------*/
.header {
  width: 100%;
  height: auto;
  border: 1px black solid;
  margin: 0;
  padding: 0;
}
.header nav {
  width: 100%;
  height: auto;
  padding-left: 1em;
  padding-right: 1em;
  background-color: white;
}
.header nav a {
  /*  padding-right: 5em;  */
  padding-right: 2em;
  padding-left: 3em;
}
.header nav div {
  padding-left: 10em;
}

/*--------------ESTILOS DEL FOOTER---------------*/
footer {
  width: 100%;
  height: auto;
  border: 1px black solid;
  margin: 0;
  padding: 0;
  /*  @include tamanio(100%,8vh);
   display: flex;
   flex-direction: row;
   flex-shrink: 0; 
   background-color: $color-2;
   list-style-type: none;
   padding: 2vh;
   justify-content: space-around;

   font-family: "New Amsterdam", sans-serif;
   font-weight: 400;
   font-style: normal;
   margin: 2px;
   a {
       @include tamanio(100%,4vh);
       text-align: center;

   }
   a:active {
       color: $color-4;
   }
   a:hover{
       border: solid 3px $color-4;

   } */
}

/*--------------ESTILOS SECCION SOMOS---------------*/
.seccion-somos {
  width: 100%;
  height: auto;
  border: 1px black solid;
  position: relative;
  background-image: url(/assets/elementos-home/Imagen-somos-conductores.png);
  background-size: cover;
  background-position: center;
  /* overflow: hidden; */
}
.seccion-somos .card-body {
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Asegura que el contenido se alinee verticalmente */
  /* Centra el contenido horizontalmente */
  text-align: left;
  color: white;
}
.seccion-somos .card-body a {
  width: 20vh;
  height: auto;
  text-align: center;
}
.seccion-somos img {
  width: 100%;
  height: auto;
  /* @include tamanio(100%,70vh);
  padding-top: 55vh; */
}

/* .seccion-somos::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3vh;
    background: green;
    border-radius: 50% ;
} */
/*--------------ESTILOS SECCION CARDS DE INFORMACION---------------*/
.seccion-cards-info {
  width: 100%;
  height: auto;
  border: 1px black solid;
}
.seccion-cards-info h2 {
  color: black;
  text-align: center;
}
.seccion-cards-info .alineado-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.seccion-cards-info .alineado-cards img {
  width: auto;
  height: 13vh;
}
.seccion-cards-info .alineado-cards h3 {
  color: black;
}
.seccion-cards-info .alineado-cards p {
  color: black;
}

/*--------------ESTILOS SECCION PRESENCIA/MAPA---------------*/
.seccion-presencia-mapa {
  width: 100%;
  height: auto;
  border: 1px black solid;
}
.seccion-presencia-mapa .presencia-global {
  text-align: center;
}
.seccion-presencia-mapa .presencia-global h2 {
  color: black;
  text-align: center;
}
.seccion-presencia-mapa .presencia-global p {
  color: black;
}
.seccion-presencia-mapa .presencia-proyectos .presencia h3 {
  color: black;
}
.seccion-presencia-mapa .presencia-proyectos .proyectos h3 {
  color: black;
}
/*--------------ESTILOS SECCION SERVICIO/CONOCE---------------*/
.seccion-servicio-conoce {
  width: 100%;
  height: auto;
  border: 1px black solid;
}
/*--------------ESTILOS SECCION PROYECTOS DESTACADOS---------------*/
/*--------------ESTILOS SECCION PODEMOS AYUDARTE---------------*/
/*--------------ESTILOS SECCION---------------*/

/*# sourceMappingURL=styles.css.map */
